<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.seeyourface.elasticearch.mapper.ProductMapper">
    <insert id="insertProd" parameterType="java.util.List">
        INSERT INTO
        product
        (id, name, category, price, place, code)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},#{item.name},#{item.category},#{item.price},#{item.place},#{item.code}
            )
        </foreach>
    </insert>

</mapper>